*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

ul>li {
    color: white;
    list-style: none;
}
.list-nav{
    display: flex;
    gap: 30px;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 88px;
    font-family: sans-serif;
    margin: 114px;
}
.h4{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}
.card{
    width: 393px;
}
.parag{
    text-align: center;
    font-family: sans-serif;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}